---
layout: default
disqus: false
archive: false
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header>
        
        <span class="post-meta">
        	<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
	</span>

        <h1 class="post-title">{{ page.title }}</h1>

	<span class="post-meta">
	{% if page.categories %}
		posted in
		{% for category in page.categories %}
		    {{category}}
		{% endfor %}
	{% endif %}
	</span>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
        	<h5>Archive</h5>
    		<ul>
    			{% for post in site.posts %}
    				<li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% endfor %}	
    		</ul>
        </section>
        {% endif %}

        <footer class="post-footer">
        	<!-- If we want to display author's name and bio -->
            {% if site.author %}
                <section class="author">
                	<header> <a href="{{ site.baseurl }}"> <img class="profile" src="{{site.logo}}" alt="Author's profile picture"></a></header>
                	<article>
                	  <!-- Author Name -->
                    	  <h4> {{ site.author }} </h4>
                    	  <!-- Author Bio -->
                    	  <p> 
                    	    I write things for computers, also people.
                    	  </p>
			  <p>
			    <i class="fa fa-github-alt"></i>
			    <a href="http://github.com/TomRegan">GitHub</a>
			  </p>
			  <p>
			    <i class="fa fa-comment"></i>
			    <a href="http://twitter.com/TomRegan">@TomRegan</a>
			  </p>
			  <p>
			    <i class="fa fa-key"></i>
			    <a href="http://pool.sks-keyservers.net/pks/lookup?op=get&search=0x53D17134DC8B2BFF">
			    DC8B2BFF
			    </a>
			  </p>
			</article>
                </section>                
            {% endif %}
        </footer>

    </article>

</main>
